{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock style %}
 
{% block content %}
	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper container mt-4">
		<div class="auth-content container col-8 col-sm-8 col-md-6 col-lg-4">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">

							<!-- <img src="/static/assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
							<h4 class="mb-3 f-w-400">
								Sign in
							</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									Add your credentials
								{% endif %} 
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>						
							<form method="POST" action="{% url 'login' %}">

								{% csrf_token %} 
								
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									<input type="text" class="form-control" placeholder="Username" name="username">
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									<input type="password" class="form-control" placeholder="Password" name="password">
								</div>
								<button type="submit" name="login" class="btn btn-block btn-primary mb-4">Sign in</button>
							
							</form>

							<p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'register' %}" class="f-w-400">Sign up</a></p>
							<p class="mb-0 text-muted"><a href="{% url 'reset_password' %}" class="f-w-400">Forgot password?</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->
{% endblock content %}
